<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzMaskClosable="false"
  nzWidth="1000px"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle> {{ tittle }} </ng-template>

  <ng-template #modalContent>
    <nz-row>
      <nz-col nzSm="24" nzXS="24" nzMd="24">
        <form nz-form [formGroup]="form" id="field-child" nzLayout="vertical">
          <fieldset>
            <legend>Thông tin đại lý</legend>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Mã đại lý</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp Mã đại lý">
                    <input nz-input placeholder="---Mã đại lý ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Tên đại lý</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâpTên đại lý">
                    <input nz-input placeholder="---Tên đại lý ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Địa chỉ</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâpĐịa chỉ">
                    <input nz-input placeholder="---Địa chỉ ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                    <input nz-input placeholder="---Email ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Đại lý quản lý</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Đại lý quản lý!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn gói dịch vụ">
                      <nz-option nzLabel="Cá nhân - 12 tháng" nzValue="1"></nz-option>
                      <nz-option nzLabel="Cá nhân - 6 tháng" nzValue="2"></nz-option>
                      <nz-option nzLabel="Cá nhân - 3 tháng" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Mã số thuế</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập Mã số thuế!'">
                    <input nz-input placeholder="--- Mã số thuế ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/thành phố!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn tỉnh/thành phố">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Thông tin người đại diện</legend>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Họ và tên</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
                    <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Chức vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Chức vụ">
                    <input nz-input placeholder="---Chức vụ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập Địa chỉ hiện tại! '">
                    <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập Số điện thoại! '">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Số CMND/ CCCD/ HC">
                    <input nz-input placeholder="--- Số CMND/ CCCD/ HC ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ thường chú</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Quốc gia</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn Quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Quốc gia">
                      <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                      <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                      <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập Email!'">
                    <input nz-input placeholder="--- Email ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> CMND/ CCCD/ HC</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập  CMND/ CCCD/ HC! '">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm">Vui lòng tải lên ảnh CMND/ CCCD/ HC</span>
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <nz-divider *ngIf="typeCertifycate > 0" nzText="Thông tin tổ chức" nzOrientation="left"></nz-divider>
            <div *ngIf="typeCertifycate > 0" nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Mã số thuế</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
                    <input nz-input placeholder="--- Mã số thuế ---" name="maxlength" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Tên tổ chức</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập  Tên tổ chức!">
                    <input nz-input placeholder="---  Tên tổ chức ---" name="minlength" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Quốc gia</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                    <input nz-input placeholder="--- Email ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Số giấy phép đăng ký kinh doanh</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Số giấy phép đăng ký kinh doanh">
                    <input nz-input placeholder="--- Số giấy phép đăng ký kinh doanh ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Nơi cấp</nz-form-label>
                  <nz-form-control nzErrorTip="MinLength is 6">
                    <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Ngày cấp</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
                    <nz-date-picker [style.width]="'100%'" nzPlaceHolder="Chọn ngày cấp"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                      <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                      <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                      <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
        </form>
      </nz-col>
    </nz-row>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      class="btn-secondary"
      *ngIf="isInfo && btnEdit.visible && btnEdit.grandAccess"
      (click)="btnEdit.click($event)"
    >
      <i nz-icon nzType="edit" nzTheme="fill"></i>{{ btnEdit.title }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && btnSave.visible && btnSave.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSave.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.title }}
    </button>
    <!-- <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && !isEdit && btnSaveAndCreate.visible && btnSaveAndCreate.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSaveAndCreate.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSaveAndCreate.title }}
    </button> -->
    <button
      nz-button
      nzType="primary"
      class="btn-warning"
      *ngIf="btnCancel.visible && btnCancel.grandAccess"
      (click)="btnCancel.click($event)"
    >
      <i nz-icon nzType="close-circle" nzTheme="fill"></i>{{ btnCancel.title }}
    </button>
  </ng-template>
</nz-modal>
