<!-- <nz-tag [nzColor]="'#00BB00'" *ngIf="params.value === 'Đang hoạt động' || params.value === true">Đang hoạt động</nz-tag>
<nz-tag [nzColor]="'#EF5350'" *ngIf="params.value === 'Ngừng hoạt động' || params.value === false">Ngừng hoạt động </nz-tag>
<nz-tag [nzColor]="'#F8A400'" *ngIf="params.value === 'Chưa có vùng ký'">Chưa có vùng ký </nz-tag> -->

<!-- <nz-switch
  [(ngModel)]="status"
  [disabled]="true"
  (click)="btnStatusClickedHandler(status)"
  nzSize="small"
  style="margin-right: 5px"
></nz-switch> -->

<nz-switch [(ngModel)]="status" [disabled]="true" nzSize="small" style="margin-right: 5px"></nz-switch>
