<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzMaskClosable="false"
  nzWidth="1000px"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle> {{ tittle }} </ng-template>

  <ng-template #modalContent>
    <nz-row>
      <nz-col nzSm="24" nzXS="24" nzMd="24">
        <form nz-form [formGroup]="form" id="field-child" nzLayout="vertical">
          <fieldset>
            <legend>Thông tin cá nhân</legend>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Họ và tên</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
                    <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Giới tính</nz-form-label>
                  <nz-form-control>
                    <nz-radio-group class="d-flex">
                      <label nz-radio nzValue="A">Nam</label>
                      <label nz-radio nzValue="B">Nữ</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Ngày sinh</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn ngày sinh!">
                    <nz-date-picker
                      [style.width]="'100%'"
                      nzPlaceHolder="Chọn ngày sinh"
                      [(ngModel)]="date"
                      name="date"
                      (ngModelChange)="onChange($event)"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Địa chỉ thường trú</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ thường chú1">
                    <input nz-input placeholder="--- Địa chỉ thường chú ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Quốc gia</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                    <input nz-input placeholder="--- Email ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>Đại lý</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Số CMND/ CCCD/ HC">
                    <input nz-input placeholder="--- Số CMND/ CCCD/ HC ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Ngày cấp</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
                    <nz-date-picker
                      [style.width]="'100%'"
                      nzPlaceHolder="Chọn ngày cấp"
                      [(ngModel)]="date"
                      (ngModelChange)="onChange($event)"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Nơi cấp</nz-form-label>
                  <nz-form-control nzErrorTip="MinLength is 6">
                    <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                      <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                      <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                      <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>CMND/ CCCD/ Hộ chiếu</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập CMND/ CCCD/ Hộ chiếu! '">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm">Vui lòng tải lên ảnh CMND/ CCCD/ Hộ chiếu</span>
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Thông tin tài khoản</legend>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Tên tài khoản</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp  Tên tài khoản">
                    <input nz-input placeholder="---Tên tài khoản ---" name="maxlength" />
                  </nz-form-control> </nz-form-item
                ><nz-form-item>
                  <nz-form-label nzRequired>Mật khẩu</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Mật khẩu">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input nz-input [type]="passwordVisible ? 'text' : 'password'" placeholder="---Mật khẩu ---" name="minlength" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Trạng thái</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <nz-switch [ngModelOptions]="{ standalone: true }" [(ngModel)]="switchValue"></nz-switch>
                    <span class="ml-sm">{{ switchValue ? 'Hoạt động' : 'Không hoạt động' }}</span>
                  </nz-form-control> </nz-form-item
                ><nz-form-item>
                  <nz-form-label nzRequired>Nhập lại mật khẩu</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Nhập lại mật khẩu">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input
                        nz-input
                        [type]="passwordVisible ? 'text' : 'password'"
                        placeholder="---Nhập lại mật khẩu ---"
                        name="minlength"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
            </div>
          </fieldset>
        </form>
      </nz-col>
    </nz-row>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      class="btn-secondary"
      *ngIf="isInfo && btnEdit.visible && btnEdit.grandAccess"
      (click)="btnEdit.click($event)"
    >
      <i nz-icon nzType="edit" nzTheme="fill"></i>{{ btnEdit.title }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && btnSave.visible && btnSave.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSave.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.title }}
    </button>
    <!-- <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && !isEdit && btnSaveAndCreate.visible && btnSaveAndCreate.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSaveAndCreate.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSaveAndCreate.title }}
    </button> -->
    <button
      nz-button
      nzType="primary"
      class="btn-warning"
      *ngIf="btnCancel.visible && btnCancel.grandAccess"
      (click)="btnCancel.click($event)"
    >
      <i nz-icon nzType="close-circle" nzTheme="fill"></i>{{ btnCancel.title }}
    </button>
  </ng-template>
</nz-modal>
