<nz-layout>
  <nz-header nzTheme="light">
    <div nz-row class="justify-content-between">
      <div nz-col [nzSpan]="6">
        <a class="logo">RA PORTAL</a>
      </div>
      <div nz-col [nzSpan]="18" class="header-contet">
        <div nz-row class="justify-content-between">
          <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>
        </div>
      </div>

      <div class="menu">
        <button nz-button nzType="default" (click)="open()">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
    </div>
    <nz-drawer [nzClosable]="true" [nzVisible]="visible" nzPlacement="right" nzTitle="RA PORTAL" (nzOnClose)="close()">
      <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>
    </nz-drawer>
    <ng-template #counterTmpl>
      <ul nz-menu nzMode="{{ visible ? 'vertical' : 'horizontal' }}">
        <li nz-menu-item>Giới Thiệu</li>
        <li nz-menu-item>Sản Phẩm</li>
        <li nz-menu-item>Gói Dịch Vụ</li>
        <li nz-menu-item>Liên Hệ</li>
      </ul>
      <div>
        <button [ngClass]="{ 'mt-md  mb-md': visible }" nz-button nzShape="round" nzType="default" nzDanger>MUA NGAY</button>
      </div>
      <div [ngClass]="{ 'd-flex flex-row': visible }">
        <button nz-button nz-dropdown nzType="default" [nzDropdownMenu]="menu">
          Đăng ký <i nz-icon nzType="down" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item routerLink="register-account/personal"><i nz-icon nzType="user" nzTheme="outline"></i>Cá nhân</li>
            <li nz-menu-item routerLink="register-account/organization"><i nz-icon nzType="usergroup-add" nzTheme="outline"></i>Tổ Chức</li>
          </ul>
        </nz-dropdown-menu>
        <button nz-button nzType="primary" [routerLink]="['/certificate']" routerLinkActive="router-link-active">Đăng nhập</button>
      </div>
    </ng-template>
  </nz-header>
  <router-outlet></router-outlet>
  <nz-footer>RA PORTAL ©2021 Implement By SAVIS DIGITAL</nz-footer>
</nz-layout>
