<div class="container">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">{{ app.name }}</span>
      </div>
      <div class="desc">{{ app.description }}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i>
      {{ app.year }}
      <a href="//savis.vn" target="_blank">Savis</a>
    </global-footer>
  </div>
</div>
