<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzMaskClosable="false"
  nzWidth="700px"
  (nzOnCancel)="handleCancel($event)"
>
  <ng-template #modalTitle> Xác nhận xóa </ng-template>

  <ng-template #modalContent>
    <nz-row>
      <nz-col nzMd="24" style="margin-top: -15px; padding-bottom: 10px; text-align: center">
        <span [innerHTML]="message"></span>
      </nz-col>
    </nz-row>
    <nz-row>
      <ag-grid-angular
        #deleteGrid
        style="width: 100%; height: 250px"
        id="deleteGrid"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowData]="grid.rowData"
        [frameworkComponents]="frameworkComponents"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </nz-row>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" class="btn-danger" [nzLoading]="isLoading" (click)="confirmDelete($event)" *ngIf="!completeDelete">
      <i nz-icon nzType="delete" nzTheme="fill"></i> Đồng ý
    </button>
    <button nz-button nzType="primary" class="btn-warning" (click)="handleCancel($event)" *ngIf="!completeDelete">
      <i nz-icon nzType="close-circle" nzTheme="fill"></i> Đóng
    </button>
    <button nz-button nzType="default" class="btn-warning" (click)="closeModalReloadData($event)" *ngIf="completeDelete">
      <i nz-icon nzType="close-circle" nzTheme="fill"></i> Đóng
    </button>
  </ng-template>
</nz-modal>
