<!--Search-->
<!-- <layout-pro-search class="hidden-xs"></layout-pro-search> -->
<button nz-button nzType="text" nzShape="round">Gói dịch vụ</button>
<button nz-button nzShape="round" nzType="default" routerLink="/certificate/item" nzDanger>MUA NGAY</button>
<!--Quick chat status-->
<!-- <quick-chat-status class="hidden-xs"></quick-chat-status> -->
<!--Languages-->
<pro-langs></pro-langs>
<!--Notify-->
<layout-pro-notify class="hidden-xs"></layout-pro-notify>
<!--RTL-->
<!-- <layout-pro-rtl></layout-pro-rtl> -->
<!--User-->
<layout-pro-user></layout-pro-user>

<!--Link-->
<a
  nz-tooltip
  nzTooltipTitle="Use documentation"
  nzTooltipPlacement="bottom"
  class="hidden-xs"
  target="_blank"
  href="https://e.ng-alain.com/theme/pro"
  rel="noopener noreferrer"
  class="alain-pro__header-item"
>
  <i nz-icon nzType="question-circle"></i>
</a>
<!--Quick panel-->
<!-- <layout-pro-quick class="hidden-xs"></layout-pro-quick> -->
