#rectangle:hover > #tool-tip {
  display: block;
}

.tooltip-icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
}
.tooltip-text {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-size: 10px;

  /* opacity: 0.5; */
}

#btn-setting {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#btn-remove {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#tool-tip {
  position: absolute;
  top: -22px;
  right: -25px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 20px;
  background-color: blue;
  background-color: transparent;
}

#index {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 100;
  width: 15px;
  height: 15px;

  /* background-color: #ffb600 !important; */
  background-color: transparent;
}

.ruler {
  position: absolute;
  box-sizing: border-box;

  /* vertical-align: middle; */
}

.mandatory-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  color: #e03500;
  font-size: 7px;
}

#top-ruler {
  top: -2px;
  right: -100vh;
  left: -100vh;
  width: 200vw;
  height: 2px;
  border-top: 1px #ffb600 dotted;
}

#bottom-ruler {
  right: -100vh;
  bottom: -2px;
  left: -100vh;
  width: 200vw;
  height: 2px;
  border-bottom: 1px #ffb600 dotted;
}

#left-ruler {
  top: -100vh;
  bottom: -100vh;
  left: -2px;
  width: 2px;
  height: 200vh;
  border-left: 1px #ffb600 dotted;
}

#right-ruler {
  top: -100vh;
  right: -2px;
  bottom: -100vh;
  width: 2px;
  height: 200vh;
  border-right: 1px #ffb600 dotted;
}

.text-input {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 100% 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;

  /* background-attachment: fixed; */
  border: none;
  cursor: move;
}
.text-input:focus {
  outline: none;
}

/* abc */

#rectangle {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  font-weight: bold;
  font-size: 25px;
  border: 1px rgb(255, 187, 0) solid;
  cursor: move;
}

.ng-resizable-handle.ng-resizable-ne {
  z-index: 100;
}

.ng-resizable-diagonal {
  border-bottom: none;
  border-left: none;
}

.ng-resizable-se {
  right: -5px;
  bottom: -5px;
}
