<nz-tag nzColor="warning" *ngIf="params.value === null">Đang chờ thay đổi</nz-tag>
<nz-tag [nzColor]="'#00BB00'" *ngIf="params.value === true">Đổi trạng thái thành công</nz-tag>
<nz-tag [nzColor]="'#EF5350'" *ngIf="params.value === false">Đổi trạng thái không thành công</nz-tag>
