<page-header-wrapper [title]="tittle">
  <div nz-row [nzGutter]="32">
    <div nz-col nzMd="6" nzLg="6">
      <nz-card nzTitle="TỔNG SỐ CA ĐÃ LIÊN KẾT">
        <nz-row>
          <nz-col class="text-center" nzMd="24">
            <h3>{{ caCount.total }}</h3>
          </nz-col>
        </nz-row>
        <nz-row nzGutter="32">
          <nz-col class="text-center" nzSpan="12">
            <h3>
              {{ caCount.active }}
              <br />
              Đang hoạt động
            </h3>
          </nz-col>
          <nz-col class="text-center" nzSpan="12">
            <h3>
              {{ caCount.inactive }}
              <br />
              Không hoạt động
            </h3>
          </nz-col>
        </nz-row>
      </nz-card>
      <nz-card nzTitle="TỔNG SỐ CTS ĐÃ ĐƯỢC KIỂM TRA">
        <nz-row>
          <nz-col class="text-center" nzMd="24">
            <h1>{{ totalCertificateValidationCount }}</h1>
          </nz-col>
        </nz-row>
        <nz-row nzGutter="32">
          <nz-col class="text-right" nzMd="24">
            <a (click)="goToReport()">Xem thêm</a>
          </nz-col>
        </nz-row>
      </nz-card>
    </div>
    <div nz-col nzMd="18" nzLg="18">
      <nz-card nzTitle="SỐ LƯỢNG CTS ĐÃ ĐƯỢC KIỂM TRA TRÊN HỆ THỐNG">
        <div class="chart-wrapper">
          <canvas
            baseChart
            *ngIf="chart1.ready"
            [datasets]="chart1.data"
            [labels]="chart1.labels"
            [options]="chart1.options"
            [chartType]="chart1.type"
          >
          </canvas>
        </div>
      </nz-card>
    </div>
  </div>
</page-header-wrapper>
