<nz-layout>
  <nz-sider [nzWidth]="350" nzBreakpoint="lg" nzCollapsible [nzCollapsedWidth]="0">
    <div nz-row nzJustify="center" nzAlign="top" style="padding: 20px">
      <div class="d-flex flex-column mb-sm">
        <h4 class="mb-xs" nz-typography>ĐĂNG KÝ THÔNG TIN</h4>
        <span nz-typography>
          <i class="d-flex"
            >Khách hàng:
            <h5 class="ml-sm">{{ register ? 'CÁ NHÂN' : 'TỔ CHỨC' }}</h5></i
          >
        </span>
      </div>
      <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)" nzDirection="vertical" nzSize="small">
        <nz-step nzTitle="{{ register ? 'Nhập thông tin đăng ký' : 'Nhập thông tin tổ chức' }}" [nzDescription]="infor"></nz-step>
        <nz-step
          nzTitle="{{ register ? 'Xác thực thông tin' : 'Nhập thông tin người đại diện pháp luật' }}"
          [nzDescription]="auth"
        ></nz-step>
        <nz-step
          nzTitle="{{ register ? 'Thông tin truy cập và dịch vụ' : 'Thông tin truy cập và dịch vụ' }}"
          [nzDescription]="access"
        ></nz-step>
      </nz-steps>
      <ng-template #infor>
        <ul>
          <li>{{ register ? 'Tải lên/Chụp ảnh mặt trước và mặt sau của CMND/CCCD/ Hộ chiếu.' : 'Nhập mã số thuế/mã ngân sách.' }}</li>
          <li>{{ register ? 'Nhập đúng thông tin khách hàng.' : 'Tải lên/Chụp ảnh Giấy chứng nhận đăng ký kinh doanh.' }}</li>
        </ul>
      </ng-template>
      <ng-template #auth>
        <ul>
          <li>
            {{
              register
                ? 'Tải lên/chụp ảnh selfie thực hiện đối chiếu với ảnh được OCR từ CMND/CCCD/ Hộ chiếu để xác thực.'
                : 'Thông tin người đại diện pháp luật.'
            }}
          </li>
          <li *ngIf="!register">Thông tin người liên hệ.</li>
        </ul>
      </ng-template>
      <ng-template #access>
        <ul>
          <li>
            {{
              register
                ? 'Thông tin truy cập hệ thống bao gồm tài khoản và mật khẩu.'
                : 'Thông tin truy cập hệ thống bao gồm tài khoản và mật khẩu.'
            }}
          </li>
          <li>{{ register ? 'Thông tin đắng ký dịch vụ.' : 'Thông tin đăng ký dịch vụ.' }}</li>
        </ul>
      </ng-template>
    </div>
  </nz-sider>
  <nz-content>
    <app-register-personal *ngIf="register"></app-register-personal>
    <app-register-organization *ngIf="!register"></app-register-organization>
  </nz-content>
</nz-layout>
