<page-header-wrapper [title]="tittle" onBack="{() => window.history.back()}">
  <!-- <nz-card class="card-header">
    <div nz-row class="header">
      <div nz-col nzSpan="12">
        <h2 class="title-card">Quản lý chứng thư số</h2>
      </div>
      <div nz-col nzSpan="12" style="text-align: right"></div>
    </div>
  </nz-card> -->

  <nz-card [nzBordered]="false">
    <!-- <nz-row>
      <nz-col nzSm="16" nzXS="24" nzMd="16" class="padding-bottom-10">
        <button
          nz-button
          nzType="default"
          (click)="btnReload.click($event)"
          class="btn-reload"
          *ngIf="btnReload.visible && btnReload.grandAccess"
        >
          <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnReload.title }}
        </button>
        <button nz-button nzType="text" (click)="filter.ShowAdSearch = !filter.ShowAdSearch; onResetSearch(true)" title="Tìm kiếm nâng cao">
          Tìm kiếm nâng cao
          <i nz-icon nzType="caret-down" nzTheme="outline" *ngIf="!filter.ShowAdSearch"></i>
          <i nz-icon nzType="caret-up" nzTheme="outline" *ngIf="filter.ShowAdSearch"></i>
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-danger"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="delete" nzTheme="fill"></i>{{ btnDelete.title }}
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-info"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="check" nzTheme="outline"></i>Gia hạn
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-info"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="check" nzTheme="outline"></i>Duyệt
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-secondary"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="close" nzTheme="outline"></i>Từ chối
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-secondary"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="close" nzTheme="outline"></i>Thu hồi
        </button>
      </nz-col>
      <nz-col nzSm="8" nzXS="24" nzMd="8" class="padding-bottom-10">
        <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
          <input type="text" [(ngModel)]="filter.textSearch" nz-input placeholder="Nhập từ khóa tìm kiếm" (keyup.enter)="initGridData()" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </nz-col>
    </nz-row> -->
    <!-- <nz-row [hidden]="!filter.ShowAdSearch">
      <nz-col nzSm="8" nzXS="12" nzMd="8" class="padding-bottom-10">
        <nz-form-item class="margin-0">
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="status">Trạng thái</nz-form-label>
          <nz-form-control [nzSm]="15" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái" [(ngModel)]="filter.status">
              <nz-option *ngFor="let option of listStatus" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSm="8" nzXS="12" nzMd="8" class="padding-bottom-10">
        <button
          nz-button
          nzType="primary"
          (click)="btnSearch.click($event)"
          class="btn-success"
          *ngIf="btnSearch.visible && btnSearch.grandAccess"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>{{ btnSearch.title }}
        </button>
      </nz-col>
    </nz-row> -->
    <!-- <nz-row>
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 70vh"
        id="unit-grid"
        class="ag-theme-alpine"
        [modules]="modules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [rowData]="grid.rowData"
        (selectionChanged)="onSelectionChanged($event)"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [frameworkComponents]="frameworkComponents"
        [excelStyles]="excelStyles"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <hr />
    </nz-row> -->
    <!-- <app-ag-grid-pagination
      [grid]="grid"
      [filter]="filter"
      [pageSizeOptions]="pageSizeOptions"
      (pageNumberChange)="onPageNumberChange()"
      (pageSizeChange)="onPageSizeChange()"
    ></app-ag-grid-pagination> -->

    <!-- <nz-row>
      <nz-col nzSm="24" nzXS="24" nzMd="24" class="padding-bottom-10">
<img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/ZBMYZI/c7/3a/05/c73a05db89b3447099be2bd74d64ebed/images/thanh_to_n/u1087.png?token=82ec5cb112e0ea18544eb6b2dbc1e3e1a22a78139c30b69132cf371d01f16b71" >
</nz-col>
</nz-row> -->
    <div id="body">
      <!-- <nz-row>
        <nz-form-label >Thông tin người nhận</nz-form-label>
      </nz-row> -->
      <nz-row>
        <nz-col nzSm="24" nzXS="24" nzMd="24">
          <form nz-form id="field-child" nzLayout="vertical">
            <div class="bo">
              <div>
                <nz-form-label> <h2>Xác nhận thanh toán</h2></nz-form-label>
              </div>
              <div><nz-form-label>Mã đơn số: 2114112N123</nz-form-label></div>
            </div>

            <nz-form-label>Thông tin người nhận</nz-form-label>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <!-- <nz-form-label>Xác nhận đơn thanh toán</nz-form-label>
                  <nz-form-label>Thông tin người nhận:</nz-form-label> -->
                  <nz-form-label>Họ tên:</nz-form-label>

                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label> Email:</nz-form-label>

                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <!-- <nz-form-label>Mã đơn số: 2114112N123 </nz-form-label>
                  <nz-form-label></nz-form-label> -->
                  <nz-form-label>Địa chỉ hiện tại:</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label>Số điện thoại:</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
              <nz-form-label nzRequired>Số tiền phí</nz-form-label>
              <nz-form-control nzErrorTip="Email is not valid">
                <input nz-input name="maxlength" disabled />
              </nz-form-control>
            </nz-form-item> -->
              </div>
            </div>

            <nz-form-label>Thông tin đơn thanh toán</nz-form-label>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Loại chứng Thư số:</nz-form-label>

                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label>Gói dịch vụ:</nz-form-label>

                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Số lượng:</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label>Tiền phí:</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
              <nz-form-label nzRequired>Số tiền phí</nz-form-label>
              <nz-form-control nzErrorTip="Email is not valid">
                <input nz-input name="maxlength" disabled />
              </nz-form-control>
            </nz-form-item> -->
              </div>
            </div>
          </form>
        </nz-col>
      </nz-row>
    </div>

    <nz-row>
      <nz-col nzSm="24" nzXS="24" nzMd="24">
        <form nz-form id="field-child" nzLayout="vertical">
          <div nz-row [nzGutter]="[24, 24]">
            <div nz-col nzSpan="8">
              <nz-form-label nzRequired>Chọn phương thức thanh toán</nz-form-label>
            </div>

            <div nz-col nzSpan="16">
              <nz-form-item>
                <!-- <nz-form-control nzErrorTip="Chọn phương thức thanh toán">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn phương thức thanh toán">
                  <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                  <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                  <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                </nz-select>
              </nz-form-control> -->
                <nz-form-control nzErrorTip="Email is not valid">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    [(ngModel)]="typeCertifycate"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Chọn phương thức thanh toán"
                  >
                    <nz-option nzLabel="ATM nội địa - Internet Banking" nzValue="0"></nz-option>
                    <nz-option nzLabel="Thẻ tín dụng/ Ghi nợ" nzValue="3"></nz-option>
                    <nz-option nzLabel="Chuyển khoản ngân hàng" nzValue="1"></nz-option>
                    <nz-option nzLabel="Ví điện tử" nzValue="2"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-col nzSm="24" nzXS="24" nzMd="24">
                <form nz-form id="field-child" nzLayout="vertical">
                  <div nz-row [nzGutter]="[24, 24]">
                    <div nz-col nzSpan="24">
                      <!-- <nz-form-item nzValue="2">
                        <nz-form-label nzRequired>Số tiền phí</nz-form-label>
                        <nz-form-control nzErrorTip="Email is not valid">
                          <input nz-input name="maxlength" disabled />
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item nzValue="0">
                        <nz-form-label nzRequired>Số tiền phí</nz-form-label>
                        <nz-form-control nzErrorTip="Email is not valid">
                          <input nz-input name="maxlength" disabled />
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item nzValue="1">
                        <nz-form-label nzRequired>Số tiền phí</nz-form-label>
                        <nz-form-control nzErrorTip="Email is not valid">
                          <input nz-input name="maxlength" disabled />
                        </nz-form-control>
                      </nz-form-item> -->
                      <!-- LƯU Ý 24/08/2021 -->
                      <fieldset>
                        <!-- <legend>Thông tin yêu cầu cấp phát Chứng thư số</legend> -->
                        <!-- <label name="name" class="d-flex mt-md mb-sm">Thông tin cá nhân</label> -->
                        <!-- <nz-divider *ngIf="typeCertifycate > 0 && typeCertifycate == 1" nzText="Thông tin cá nhân" nzOrientation="left">

                        </nz-divider>

                        <nz-divider
                          *ngIf="typeCertifycate > 0 && typeCertifycate == 2"
                          nzText="Thông tin người đại diện tổ chức"
                          nzOrientation="left"
                        ></nz-divider> -->
                        <div nz-row [nzGutter]="[24, 24]">
                          <!-- <div nz-col nzSpan="12" *ngIf="typeCertifycate < 2">
                            <nz-form-item>
                              <nz-form-label nzRequired> Họ và tên</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
                                <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <div *ngIf="typeCertifycate < 2" class="infor-personal-org">
                              <nz-form-item>
                                <nz-form-label nzRequired> Địa chỉ thường trú</nz-form-label>
                                <nz-form-control nzErrorTip="Pattern not match">
                                  <input nz-input placeholder="---Địa chỉ thường trú---" name="mix" required />
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-label nzRequired>Quốc gia</nz-form-label>
                                <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                                    <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-label nzRequired>Email</nz-form-label>
                                <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                                  <input nz-input placeholder="--- Email ---" name="mix" />
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                            <div *ngIf="typeCertifycate == 2" class="infor-org">
                              <nz-form-item>
                                <nz-form-label nzRequired> Chức vụ</nz-form-label>
                                <nz-form-control nzErrorTip="Chức vụ">
                                  <input nz-input placeholder="---Chức vụ---" name="mix" required />
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                                <nz-form-control [nzErrorTip]="'Vui lòng nhập Địa chỉ hiện tại! '">
                                  <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="mix" />
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
                                <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                                    <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                                <nz-form-control [nzErrorTip]="'Vui lòng nhập Số điện thoại! '">
                                  <input nz-input placeholder="--- Số điện thoại ---" name="mix" />
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div> -->
                          <nz-form-label *ngIf="typeCertifycate == 0">Chọn ngân hàng:</nz-form-label>
                          <!-- <div nz-col nzSpan="12" *ngIf="typeCertifycate < 2">
                            <nz-form-item>
                              <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập Số CMND/ CCCD/ HC">
                                <input nz-input placeholder="--- Số CMND/ CCCD/ HC ---" name="minlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                                <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                                  <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                                  <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                                  <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                                <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                              </nz-form-control>
                            </nz-form-item>
                          </div> -->

                          <div nz-col nzSpan="24" *ngIf="typeCertifycate == 0">
                            <!-- <img src="../../../../assets/tmp/img/u1087.png" alt="" /> -->
                            <div class="container">
                              <!-- <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"  />
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"/>
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"  />
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"/>
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"  />
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"/>
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"  />
                              <img src="../../../../assets/tmp/img/u1087.png" alt="" width="25%"/> -->

                              <div nz-row [nzGutter]="[16, 24]">
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              </div>
                            </div>
                          </div>
                          <nz-form-label *ngIf="typeCertifycate == 0">Nhập thông tin và xác thực tài khoản</nz-form-label>
                          <div nz-col nzSpan="24" *ngIf="typeCertifycate == 0">
                            <!-- <nz-form-label>Nhập thông tin và xác thực tài khoản</nz-form-label> -->

                            <nz-form-item>
                              <nz-form-label nzRequired>Tên chủ thẻ</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
                                <input nz-input placeholder="-- Tên in trên mặt trước thẻ không dấu --" name="maxlength" required />
                              </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                              <nz-form-label nzRequired>Số thẻ</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập số thẻ!">
                                <input nz-input placeholder="-- Gồm 16 số, in trên mặt trước của thẻ" name="maxlength" required />
                              </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                              <nz-form-label nzRequired>Ngày phát hành</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
                                <input nz-input placeholder="-- Phần “VALID FROM” in trên mặt thẻ --" name="maxlength" required />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>

                        <div nz-col nzSpan="24" *ngIf="typeCertifycate == 3"></div>

                        <div nz-col nzSpan="24" *ngIf="typeCertifycate == 1">
                          <nz-form-label *ngIf="typeCertifycate == 1"><h3>Thông tin tài khoản</h3></nz-form-label>
                          <nz-form-label
                            >Để giúp quá trình đối chiếu thông tin thanh toán nhanh hơn,<br />
                            Quý khách vui lòng điền thông tin trên phần NỘI DUNG CHUYỂN TIỀN theo mẫu sau: "Họ tên_Số điện thoại<br />
                            người đặt_mã đơn thanh toán". Ví dụ: Nguyễn Văn An_0343780011_2114112N123
                          </nz-form-label>

                          <div nz-col nzSpan="24" *ngIf="typeCertifycate == 1">
                            <!-- <img src="../../../../assets/tmp/img/u1087.png" alt="" width="80%" height="80%" /> -->
                            <div class="box1">
                              <div nz-col class="gutter-row" [nzSpan]="24">
                                <div><img src="../../../../assets/tmp/img/u1087.png" alt="" style="height: 50px; width: 200%" /></div>
                                <div>
                                  <p>STK:0123456789</p>
                                  <p>CTK: NGUYEN DINH MANH</p>
                                </div>
                              </div>

                              <div nz-col class="gutter-row" [nzSpan]="24">
                                <div><img src="../../../../assets/tmp/img/u1087.png" alt="" style="height: 50px; width: 200%" /></div>
                                <div>
                                  <p>STK:987654321</p>
                                  <p>CTK: NGUYEN DINH MANH</p>
                                </div>
                              </div>

                              <div nz-col class="gutter-row" [nzSpan]="24">
                                <div><img src="../../../../assets/tmp/img/u1087.png" alt="" style="height: 50px; width: 200%" /></div>
                                <div>
                                  <p>STK:0123456789</p>
                                  <p>CTK: NGUYEN DINH MANH</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div nz-col nzSpan="24" *ngIf="typeCertifycate == 2">
                          <nz-form-label *ngIf="typeCertifycate == 2"><h3>Chọn ví điện tử</h3></nz-form-label>

                          <div nz-col nzSpan="24" *ngIf="typeCertifycate == 2">
                            <!-- <img src="../../../../assets/tmp/img/u1087.png" alt="" width="80%" height="80%" /> -->
                            <!-- <div nz-row [nzGutter]="[16, 24]" class="a1">
                              <div nz-col class="gutter-row" ><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row" ><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                              <div nz-col class="gutter-row"><img src="../../../../assets/tmp/img/u1087.png" alt=""/></div>
                            </div> -->
                            <div class="box">
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                            </div>
                            <div class="box">
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                              <div nz-col class="gutter-row" [nzSpan]="4"><img src="../../../../assets/tmp/img/u1087.png" alt="" /></div>
                            </div>
                          </div>
                        </div>

                        <!-- <nz-divider *ngIf="typeCertifycate > 0" nzText="Thông tin tổ chức" nzOrientation="left">

                        </nz-divider> -->

                        <!-- <div *ngIf="typeCertifycate > 0 && typeCertifycate <3" nz-row [nzGutter]="[24, 24]">
                          <div nz-col nzSpan="12">
                            <nz-form-item>
                              <nz-form-label nzRequired>Mã số thuế</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
                                <input nz-input placeholder="--- Mã số thuế ---" name="maxlength" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired> Tên tổ chức</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập  Tên tổ chức!">
                                <input nz-input placeholder="---  Tên tổ chức ---" name="minlength" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Quốc gia</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                                  <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                                  <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                                  <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                                <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Email</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                                <input nz-input placeholder="--- Email ---" name="mix" />
                              </nz-form-control>
                            </nz-form-item>
                          </div>

                          <div nz-col nzSpan="12">
                            <nz-form-item>
                              <nz-form-label nzRequired> Số giấy phép đăng ký kinh doanh</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập Số giấy phép đăng ký kinh doanh">
                                <input nz-input placeholder="--- Số giấy phép đăng ký kinh doanh ---" name="minlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Nơi cấp</nz-form-label>
                              <nz-form-control nzErrorTip="MinLength is 6">
                                <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Ngày cấp</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
                                <nz-date-picker [style.width]="'100%'" nzPlaceHolder="Chọn ngày cấp"></nz-date-picker>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                                <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                                  <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                                  <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                                  <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div> -->

                        <!-- <div *ngIf="typeCertifycate == 3" nz-row [nzGutter]="[24, 24]">
                          <div nz-col nzSpan="12">

                          </div>

                          <div nz-col nzSpan="12" *ngIf="typeCertifycate < 2">
                            <nz-form-item>
                              <nz-form-label nzRequired> Số giấy phép đăng ký kinh doanh</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng nhập Số giấy phép đăng ký kinh doanh">
                                <input nz-input placeholder="--- Số giấy phép đăng ký kinh doanh ---" name="minlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Nơi cấp</nz-form-label>
                              <nz-form-control nzErrorTip="MinLength is 6">
                                <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Ngày cấp</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
                                <nz-date-picker [style.width]="'100%'" nzPlaceHolder="Chọn ngày cấp"></nz-date-picker>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                                <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                              <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                                  <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                                  <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                                  <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div> -->

                        <div class="steps-action d-flex justify-content-end m-md">
                          <button nz-button nzType="default" (click)="showModal()" *ngIf="index == 0">
                            <span>Tiếp tục</span>
                          </button>
                          <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                            <ng-container *nzModalContent>
                              <p>Content one</p>
                              <p>Content two</p>
                              <p>Content three</p>
                            </ng-container>
                          </nz-modal>
                        </div>

                        <!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
                        <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                          <ng-container *nzModalContent>
                            <p>Content one</p>
                            <p>Content two</p>
                            <p>Content three</p>
                          </ng-container>
                        </nz-modal> -->
                      </fieldset>
                      <!-- LƯU Ý 24/08/2021 -->

                      <!-- <fieldset>
            <legend>Hồ sơ yêu cầu cấp phát Chứng thư số</legend>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired>CMND/ CCCD/ Hộ chiếu</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>

                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Đơn đăng ký sử dụng dịch vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file đơn đăng ký sử dụng dịch vụ hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Hợp đồng sử dụng dịch vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file hợp đồng sử dụng dịch vụ hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Giấy phép đăng ký kinh doanh</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>

                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Văn bản ủy quyền có hiệu lực</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file văn bản ủy quyền hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>CMND/ CCCD/ Hộ chiếu người được ủy quyền</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>

                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset> -->
                    </div>
                  </div>
                </form>
              </nz-col>
            </div>
          </div>
        </form>
      </nz-col>
    </nz-row>
  </nz-card>
  <!-- <nz-card [nzBordered]="false">

</nz-card> -->
</page-header-wrapper>
