// img {
//   border-width: 0px;
//   //position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 100%;
//   height: 445px;
// }

// #field-child{
//   border-width: 0px;
//     position: absolute;
//     left: 30px;
//     top: -415px;
//     width: 95%;
//     height: 375px;
//     background: inherit;
//     background-color: rgba(255, 255, 255, 1);
//     border: none;
//     border-radius: 0px;
//     -moz-box-shadow: none;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }

#body {
  background-image: url('../../../../assets/tmp/img/u1087.png');
  background-size: 100% 100%;
}

.ant-row {
  margin: 0px !important;
}

.ant-form {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  margin: 35px;
  background-color: #fff;
  border-radius: 10px;
}

.justify-content-end {
  justify-content: center !important;
}

img {
  // padding-left: 5%;
  padding: 10px;
  width: 100%;
}

// .container {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
// }

// .item {
//   font-size: 1rem;
//   line-height: 1;
//   text-align: center;
//   padding: 3rem;
//   background: mistyrose;
//   border: 3px solid tomato;
//   color: tomato;
//   margin: 6px;
// }

// nz-divider {
//   color: #333;
//   //fontweight: normal;
// }
.inner-box {
  background: #0092ff;
  padding: 8px 0;
}

nz-row [nzGutter] {
  display: flex;
}

.box {
  //border: 1px solid #ccc;
  //min-height: 300px;
  display: flex;
  width: 120%;
}
.box div {
  //margin: 5px;
  text-align: center;
  // background-color: #72C953;
}

.box1 {
  //border: 1px solid #ccc;
  //min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box1 .gutter-row {
  //margin: 5px;
  border: 1px solid #ccc;
  text-align: center;
  //background-color: #72C953;
  width: 80%;
  margin: 5px;

  display: flex;
  justify-content: space-between;
}

.bo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
