<!-- <button
  nz-button
  nzType="primary"
  *ngIf="params.data.infoGrantAccess"
  nzShape="circle"
  class="btn-info"
  (click)="btnInfoClickedHandler($event)"
  title="Chi tiết"
>
  <i nz-icon nzType="info-circle" nzTheme="outline"></i>
</button> -->
<style>
  .img-button {
    height: 17px;
    margin-right: 5px;
    cursor: pointer;
  }

  .img-button :hover {
    cursor: pointer;
  }
</style>

<img
  src="../../../../../assets/tmp/img/button/icon_expand.png"
  (click)="btnMetaDatConfigClickedHandler($event)"
  *ngIf="params.data.metaDataConfigGrantAccess"
  class="img-button"
  alt="Cấu hình vùng ký"
  title="Cấu hình vùng ký"
/>

<img
  class="img-button"
  src="../../../../../assets/tmp/img/button/icon_download.svg"
  *ngIf="params.data.downloadCertGrantAccess"
  (click)="btnDownloadCertClickedHandler($event)"
  alt="Tải xuống"
  title="Tải xuống"
/>

<img
  class="img-button"
  src="../../../../../assets/tmp/img/button/icon_info.svg"
  *ngIf="params.data.infoGrantAccess"
  (click)="btnInfoClickedHandler($event)"
  alt="Chi tiết"
  title="Chi tiết"
/>

<!-- <button
  nz-button
  nzType="success"
  nzShape="circle"
  *ngIf="params.data.enterFormulaGrantAccess"
  class="btn-success"
  (click)="btnEnterFormulaClickedHandler($event)"
  title="Nhập công thức"
>
  <i nz-icon nzType="setting" nzTheme="outline"></i>
</button> -->

<img
  class="img-button"
  src="../../../../../assets/tmp/img/button/icon_info.svg"
  *ngIf="params.data.enterFormulaGrantAccess"
  (click)="btnEnterFormulaClickedHandler($event)"
  alt="Nhập công thức"
  title="Nhập công thức"
/>

<!-- <button
  nz-button
  nzType="primary"
  nzShape="circle"
  *ngIf="params.data.editGrantAccess"
  class="btn-secondary"
  (click)="btnEditClickedHandler($event)"
  title="Cập nhật"
>
  <i nz-icon nzType="edit" nzTheme="outline"></i>
</button> -->

<img
  class="img-button"
  src="../../../../../assets/tmp/img/copy.svg"
  *ngIf="params.data.cloneGrantAccess"
  (click)="btnCloneClickedHandler($event)"
  alt="Tạo bản sao"
  title="Tạo bản sao"
/>

<img
  class="img-button"
  src="../../../../../assets/tmp/img/edit.svg"
  *ngIf="params.data.editGrantAccess"
  (click)="btnEditClickedHandler($event)"
  alt="Chỉnh sửa"
  title="Chỉnh sửa"
/>
<!--
<button
  nz-button
  nzType="primary"
  nzShape="circle"
  *ngIf="params.data.deleteGrantAccess"
  class="btn-danger"
  (click)="btnDeleteClickedHandler($event)"
  title="Xóa"
>
  <i nz-icon nzType="delete" nzTheme="outline"></i>
</button> -->

<img
  class="img-button"
  src="../../../../../assets/tmp/img/button/icon_plus.svg"
  *ngIf="params.data.addGrantAccess"
  (click)="btnAddClickedHandler($event)"
  alt="Thêm dòng"
  title="Thêm dòng"
/>

<img
  class="img-button"
  src="../../../../../assets/tmp/img/diploma.svg"
  *ngIf="params.data.addCertGrantAccess"
  (click)="btnAddCertClickedHandler($event)"
  alt="Tạo CTS"
  title="Tạo CTS"
/>
<img
  class="img-button"
  src="../../../../../assets/tmp/img/diploma.svg"
  *ngIf="params.data.viewCertGrantAccess"
  (click)="btnAddCertClickedHandler($event)"
  alt="Xem CTS"
  title="Xem CTS"
/>
<img
  class="img-button"
  src="../../../../../assets/tmp/img/copy.svg"
  *ngIf="params.data.coppyGrantAccess"
  (click)="btnCoppyClickedHandler($event)"
  alt="Tạo bản sao"
  title="Tạo bản sao"
/>
<img
  class="img-button"
  src="../../../../../assets/tmp/img/button/icon_trash.svg"
  *ngIf="params.data.deleteGrantAccess"
  (click)="btnDeleteClickedHandler($event)"
  alt="Xóa"
  title="Xóa"
/>

<img
  class="img-button"
  src="../../../../../assets/unlock.svg"
  *ngIf="params.data.lockGrantAccess"
  (click)="btnLockClickedHandler($event)"
  title="Khóa tài khoản"
/>
<img
  class="img-button"
  src="../../../../../assets/padlock.svg"
  *ngIf="params.data.unlockGrantAccess"
  (click)="btnUnLockClickedHandler($event)"
  title="Mở khóa tài khoản"
/>

<!--
<button
  nz-button
  nzType="primary"
  nzShape="circle"
  *ngIf="params.data.addGrantAccess"
  class="btn-secondary"
  (click)="btnAddClickedHandler($event)"
  title="Thêm dòng"
>
  <i nz-icon nzType="plus" nzTheme="outline"></i>
</button> -->
