<page-header-wrapper [title]="tittle" onBack="{() => window.history.back()}">
  <nz-card class="card-header">
    <div nz-row class="header">
      <div nz-col nzSpan="12">
        <h2 class="title-card">THÔNG TIN ĐĂNG KÝ CHỨNG THƯ SỐ</h2>
      </div>
      <div nz-col nzSpan="12" style="text-align: right"></div>
    </div>
  </nz-card>

  <nz-card [nzBordered]="false">
    <nz-row>
      <nz-col nzSm="16" nzXS="24" nzMd="16">
        <button
          nz-button
          nzType="primary"
          (click)="btnAdd.click($event)"
          class="btn-primary"
          *ngIf="btnAdd.visible && btnAdd.grandAccess && !isShowCertItemForm"
        >
          <i nz-icon nzType="file-add" nzTheme="fill"></i>{{ btnAdd.title }}
        </button>
      </nz-col>
    </nz-row>

    <nz-row>
      <nz-col nzSm="24" nzXS="24" nzMd="24">
        <form nz-form [formGroup]="form" id="field-child" nzLayout="vertical">
          <fieldset>
            <legend>Thông tin Chứng thư số</legend>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Loại chứng thư số</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      [(ngModel)]="typeCertifycate"
                      [ngModelOptions]="{ standalone: true }"
                      nzPlaceHolder="Chọn quốc gia"
                    >
                      <nz-option nzLabel="Cá nhân" nzValue="0"></nz-option>
                      <nz-option nzLabel="Cá nhân thuộc tổ chức" nzValue="1"></nz-option>
                      <nz-option nzLabel="Tổ chức" nzValue="2"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Gói dịch vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Pattern not match">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn gói dịch vụ">
                      <nz-option nzLabel="Cá nhân - 12 tháng" nzValue="1"></nz-option>
                      <nz-option nzLabel="Cá nhân - 6 tháng" nzValue="2"></nz-option>
                      <nz-option nzLabel="Cá nhân - 3 tháng" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Số tiền phí</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <input nz-input name="maxlength" disabled />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
          <label nz-checkbox name="name" class="d-flex mt-md" style="margin-left: 30px">Ủy quyền đăng ký dịch vụ</label>
          <fieldset>
            <legend>Thông tin yêu cầu cấp phát Chứng thư số</legend>
            <!-- <label name="name" class="d-flex mt-md mb-sm">Thông tin cá nhân</label> -->
            <nz-divider *ngIf="typeCertifycate > 0 && typeCertifycate == 1" nzText="Thông tin cá nhân" nzOrientation="left"></nz-divider>
            <nz-divider
              *ngIf="typeCertifycate > 0 && typeCertifycate == 2"
              nzText="Thông tin người đại diện tổ chức"
              nzOrientation="left"
            ></nz-divider>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Họ và tên</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
                    <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <div *ngIf="typeCertifycate < 2" class="infor-personal-org">
                  <nz-form-item>
                    <nz-form-label nzRequired> Địa chỉ thường trú</nz-form-label>
                    <nz-form-control nzErrorTip="Pattern not match">
                      <input nz-input placeholder="---Địa chỉ thường trú---" name="mix" required />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired>Quốc gia</nz-form-label>
                    <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                        <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                        <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                        <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired>Email</nz-form-label>
                    <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                      <input nz-input placeholder="--- Email ---" name="mix" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div *ngIf="typeCertifycate == 2" class="infor-org">
                  <nz-form-item>
                    <nz-form-label nzRequired> Chức vụ</nz-form-label>
                    <nz-form-control nzErrorTip="Chức vụ">
                      <input nz-input placeholder="---Chức vụ---" name="mix" required />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                    <nz-form-control [nzErrorTip]="'Vui lòng nhập Địa chỉ hiện tại! '">
                      <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="mix" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
                    <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                        <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                        <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                        <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                    <nz-form-control [nzErrorTip]="'Vui lòng nhập Số điện thoại! '">
                      <input nz-input placeholder="--- Số điện thoại ---" name="mix" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Số CMND/ CCCD/ HC">
                    <input nz-input placeholder="--- Số CMND/ CCCD/ HC ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                      <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                      <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                      <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <nz-divider *ngIf="typeCertifycate > 0" nzText="Thông tin tổ chức" nzOrientation="left"></nz-divider>
            <div *ngIf="typeCertifycate > 0" nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Mã số thuế</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
                    <input nz-input placeholder="--- Mã số thuế ---" name="maxlength" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Tên tổ chức</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập  Tên tổ chức!">
                    <input nz-input placeholder="---  Tên tổ chức ---" name="minlength" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Quốc gia</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                      <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                      <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                      <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                    <input nz-input placeholder="--- Email ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Số giấy phép đăng ký kinh doanh</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập Số giấy phép đăng ký kinh doanh">
                    <input nz-input placeholder="--- Số giấy phép đăng ký kinh doanh ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Nơi cấp</nz-form-label>
                  <nz-form-control nzErrorTip="MinLength is 6">
                    <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Ngày cấp</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
                    <nz-date-picker [style.width]="'100%'" nzPlaceHolder="Chọn ngày cấp"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
                    <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                      <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                      <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                      <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Hồ sơ yêu cầu cấp phát Chứng thư số</legend>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired>CMND/ CCCD/ Hộ chiếu</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <!-- <span nz-typography nzType="secondary" class="ml-sm">Ant Design (secondary)</span> -->
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Đơn đăng ký sử dụng dịch vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file đơn đăng ký sử dụng dịch vụ hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Hợp đồng sử dụng dịch vụ</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file hợp đồng sử dụng dịch vụ hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Giấy phép đăng ký kinh doanh</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <!-- <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file văn bản ủy quyền hoặc tải mẫu file <a href="#">Tại đây</a></span
                        > -->
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Văn bản ủy quyền có hiệu lực</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <span nz-typography nzType="secondary" class="ml-sm"
                          >Vui lòng tải lên file văn bản ủy quyền hoặc tải mẫu file <a href="#">Tại đây</a></span
                        >
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>CMND/ CCCD/ Hộ chiếu người được ủy quyền</nz-form-label>
                  <nz-form-control nzErrorTip="Email is not valid">
                    <nz-card>
                      <nz-upload
                        [nzHeaders]="header"
                        [nzAction]="uploadUrl"
                        [(nzFileList)]="nationIDFileList"
                        (nzChange)="handleChangeFile($event, 'nationIDFileList')"
                        [nzIconRender]=""
                        nzAccept="image/png, image/jpeg, image/jpg"
                      >
                        <button nz-button><i nz-icon nzType="upload"></i>Tải lên</button>
                        <!-- <span nz-typography nzType="secondary" class="ml-sm">Ant Design (secondary)</span> -->
                      </nz-upload>
                    </nz-card>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Thông tin Chứng thư số</legend>
            <label nz-checkbox name="name" class="d-flex mt-md mb-md">Người nhận là người đăng ký dịch vụ</label>
            <div nz-row [nzGutter]="[24, 24]">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired> Họ và tên</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
                    <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
                    <input nz-input placeholder="--- Email ---" name="mix" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
                  <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ hiện tại!">
                    <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="minlength" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
                    <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </fieldset>
        </form>
      </nz-col>
    </nz-row>
    <br />
    <nz-row *ngIf="isShowCertItemForm" style="float: right; margin-right: 30px">
      <button nz-button nzType="primary" class="btn-primary" [nzLoading]="isLoading" (click)="btnSave.click($event)">
        <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.title }}
      </button>
      <button nz-button nzType="primary" class="btn-primary" [nzLoading]="isLoading" (click)="btnSaveAndCreate.click($event)">
        <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSaveAndCreate.title }}
      </button>
      <button nz-button nzType="primary" class="btn-warning" (click)="btnCancel.click($event)">
        <i nz-icon nzType="close-circle" nzTheme="fill"></i>{{ btnCancel.title }}
      </button>
    </nz-row>
  </nz-card>
</page-header-wrapper>
