<style>
  .img-button {
    height: 17px;
    margin-right: 5px;
    cursor: pointer;
  }

  .img-button :hover {
    cursor: pointer;
  }
</style>

<button nz-button nzType="primary" nzShape="circle" class="btn-info" (click)="btnInfoClickedHandler($event)" title="Chi tiết">
  {{ params.data.version }}
</button>
