// @import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
// @import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/_ag-theme-alpine-mixin.scss';
@import '../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css';
// .ag-theme-alpine {
//   @include ag-theme-alpine();
// }
fieldset {
  margin: 10px 30px 0 30px;
  padding: 10px !important;
  border: 1px solid #afabab !important;
  // border: none !important;
  // box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
}

fieldset legend {
  width: auto !important;
  margin-bottom: 0 !important;
  padding: 0 10px !important;
  color: #333 !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  border: none !important;
}

.from-fieldset {
  width: 100% !important;
}
.title-card {
  margin-bottom: 0;
}
.step-line {
  width: 100%;
  margin: 15px 30px;
}
.card-content-step {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-steps {
  width: 100%;
}
.div-70-legend {
  width: 70%;
  margin: 0 auto;
}
.div-80-legend {
  width: 80%;
  margin: 0 auto;
}
.div-86-legend {
  width: 86%;
  margin: 0 auto;
}
.group-radio-95 {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 12px;
  margin-left: auto;
}
.fwb {
  font-weight: bold;
}
.checkbox-71 {
  width: 71%;
  margin-bottom: 12px;
  margin-left: auto;
  white-space: nowrap;
}
.setLocationsign {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: auto;
}
.div-70-column {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.radio-apperances {
  margin-left: 25px;
}

.showInput {
  margin-left: 25px;
}
.ant-radio-wrapper {
  padding: 5px 0 !important;
}
.ant-transfer-list-header-title {
  float: right;
  font-weight: bold !important;
}
// .ant-transfer-list-header{
//   display: block !important;
// }
.setting-drawer__handle {
  top: 45px !important;
}
.ant-transfer-list-header-selected {
  width: 95% !important;
}
.ant-transfer-list-header-selected,
.ant-checkbox-wrapper {
  align-self: flex-start;
}
::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}
.OpenShowAlow {
  display: none;
}
.mb-xs.alow.ant-checkbox-wrapper-checked > .OpenShowAlow {
  display: block;
}
.ant-layout.alain-pro__main {
  background-color: #eee !important;
}
.cdk-drag-handle.ant-image-preview-img {
  background: #fff;
}
.ant-menu-inline .ant-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#organization .ant-form-item {
  justify-content: space-between !important;
}
#organization fieldset {
  margin: 10px !important;
}
#field-child fieldset {
  border: 1px solid #f5dfdf !important;
}
.full-input-form {
  justify-content: space-between !important;
  width: 100% !important;
}
.ant-modal-footer {
  padding-right: 24px !important;
}
.pdfViewer {
  min-height: 50vh;
}
.nameSign {
  display: -webkit-box;
  width: 100%;
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  white-space: pre-wrap;
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; // chiều rộng bằng khối bao nó// số dòng muốn hiển thị
}
.ant-layout-sider-zero-width-trigger {
  top: 44px;
  right: -22px;
}
.ant-steps-vertical > .ant-steps-item .ant-steps-item-title {
  font-weight: 600;
}
.upload-imgae {
  position: relative;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 72%;
  border: 1px solid #f9f9;
  border-radius: 10px;
}
.show-image-upload {
  position: absolute;
  right: 0;
  bottom: 8px;
  left: 0;
}
