// .ant-col-12 {
//   display: block;
//   flex: 0 0 50%;
//   max-width: 33.3%;
// }

// .pl-md1{
//   display: block;
//    flex: 0 0 50%;
//  max-width: 33.3%;
// }
// .ant-row{
//   max-width: 33.3%;
// }
