<div nz-col style="padding: 20px 20px 0 20px">
  <h4 class="mb-xs text-left" nz-typography>{{ title }}</h4>
  <form nz-form [formGroup]="registerPesonFrom" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="[24, 24]" class="mt-xl" *ngIf="index == 0">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Tên tổ chức</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập tên tổ chức!">
            <input nz-input formControlName="organizationName" placeholder="--- Tên tổ chức ---" name="organizationName" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Mã số thuế</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
            <input nz-input formControlName="taxCode" placeholder="--- Mã số thuế ---" name="taxCode" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ hiện tại!">
            <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="minlength" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Quốc gia</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
            <nz-select nzShowSearch nzAllowClear formControlName="organizationCountryId" nzPlaceHolder="Chọn quốc gia">
              <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
              <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
              <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
              <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
              <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
              <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Số điện thoại</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
            <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
            <input nz-input placeholder="--- Email ---" name="mix" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Giấy phép kinh doanh/ Giấy chứng nhận ĐKKD</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng tải lên giấy phép kinh doanh!">
            <div class="upload-imgae h-20" style="background-image: url('{{ businessLicenseImage }}')">
              <nz-upload
                class="show-image-upload"
                [nzHeaders]="header"
                [nzAction]="uploadUrl"
                [(nzFileList)]="businessLicenseImage"
                (nzChange)="handleChangeFile($event, 'businessLicenseImage')"
                nzAccept="image/png, image/jpeg, image/jpg"
              >
                <button nz-button>
                  <i nz-icon nzType="upload"></i>
                  Tải ảnh
                </button>
                <button nz-button (click)="OnTakeaPhoto($event)">
                  <i nz-icon nzType="camera" nzTheme="outline"></i>
                  Chụp ảnh
                </button>
              </nz-upload>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Ngày cấp</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng Chọn ngày cấp!'">
            <nz-date-picker
              [style.width]="'100%'"
              nzPlaceHolder="Chọn ngày cấp"
              [(ngModel)]="date"
              name="date"
              (ngModelChange)="onChange($event)"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Nơi cấp</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập nơi cấp!'">
            <input nz-input placeholder="--- Nơi cấp ---" name="mix" required />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-col *ngIf="index == 1">
      <div nz-row [nzGutter]="[24, 24]" class="mt-xl">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Hình ảnh CMND/CCCD/Hộ chiếu mặt trước</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng tải hình ảnh CMND/CCCD/Hộ chiếu mặt trước">
              <div class="upload-imgae h-20" style="background-image: url('{{ backIdentityImage }}')">
                <nz-upload
                  class="show-image-upload"
                  [nzHeaders]="header"
                  [nzAction]="uploadUrl"
                  [(nzFileList)]="backIdentityImage"
                  (nzChange)="handleChangeFile($event, 'backIdentityImage')"
                  nzAccept="image/png, image/jpeg, image/jpg"
                >
                  <button nz-button>
                    <i nz-icon nzType="upload"></i>
                    Tải ảnh
                  </button>
                  <button nz-button (click)="OnTakeaPhoto($event, 'backIdentityImage')">
                    <i nz-icon nzType="camera" nzTheme="outline"></i>
                    Chụp ảnh
                  </button>
                </nz-upload>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired> Họ và tên</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên!">
              <input nz-input placeholder="--- Họ và tên ---" name="maxlength" required />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired> Giới tính</nz-form-label>
            <nz-form-control>
              <nz-radio-group class="d-flex">
                <label nz-radio nzValue="A">Nam</label>
                <label nz-radio nzValue="B">Nữ</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn ngày sinh!">
              <nz-date-picker
                [style.width]="'100%'"
                nzPlaceHolder="Chọn ngày sinh"
                [(ngModel)]="date"
                name="date"
                (ngModelChange)="onChange($event)"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired> Địa chỉ thường trú</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ thường chú1">
              <input nz-input placeholder="--- Địa chỉ thường chú ---" name="mix" required />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Quốc gia</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quốc gia">
                <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
                <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
                <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
              <input nz-input placeholder="--- Email ---" name="mix" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Hình ảnh CMND/CCCD/Hộ chiếu mặt sau</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng hình ảnh CMND/CCCD/Hộ chiếu mặt sau">
              <div class="upload-imgae h-20" style="background-image: url('{{ frontIdentityImage }}')">
                <nz-upload
                  class="show-image-upload"
                  [nzHeaders]="header"
                  [nzAction]="uploadUrl"
                  [(nzFileList)]="frontIdentityImage"
                  (nzChange)="handleChangeFile($event, 'frontIdentityImage')"
                  nzAccept="image/png, image/jpeg, image/jpg"
                >
                  <button nz-button>
                    <i nz-icon nzType="upload"></i>
                    Tải ảnh
                  </button>
                  <button nz-button (click)="OnTakeaPhoto($event, 'frontIdentityImage')">
                    <i nz-icon nzType="camera" nzTheme="outline"></i>
                    Chụp ảnh
                  </button>
                </nz-upload>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập Số CMND/ CCCD/ HC">
              <input nz-input placeholder="--- Số CMND/ CCCD/ HC ---" name="minlength" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Nơi cấp</nz-form-label>
            <nz-form-control nzErrorTip="MinLength is 6">
              <input nz-input placeholder="--- Nơi cấp ---" name="minlength" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Ngày cấp</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng Chọn ngày cấp">
              <nz-date-picker
                [style.width]="'100%'"
                nzPlaceHolder="Chọn ngày cấp"
                [(ngModel)]="date"
                (ngModelChange)="onChange($event)"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập địa chỉ hiện tại'">
              <input nz-input placeholder="---Địa chỉ hiện tại---" name="mix" required />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
                <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
                <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
                <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Số điện thoại</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
              <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <h4 class="mb-xs text-left mt-xl" nz-typography>NHẬP THÔNG TIN NGƯỜI LIÊN HỆ</h4>
      <label nz-checkbox [(ngModel)]="checked" name="name" class="d-flex">Là người đại diện</label>
      <div nz-row [nzGutter]="[24, 24]" class="mt-xs">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired> Họ và tên</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhâp họ và tên">
              <input nz-input placeholder="--- Họ và tên ---" name="maxlength" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired> Địa chỉ thường trú</nz-form-label>
            <nz-form-control nzErrorTip="Pattern not match">
              <input nz-input placeholder="---Địa chỉ thường trú---" name="mix" required />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
              <input nz-input placeholder="--- Email ---" name="mix" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired> Số CMND/ CCCD/ HC</nz-form-label>
            <nz-form-control nzErrorTip="MinLength is 6">
              <input nz-input placeholder="---Số CMND/ CCCD/ HC---" name="minlength" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ hiện tại!">
              <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="minlength" required />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Số điện thoại</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
              <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <!-- <div nz-col *ngIf="index == 2">
      <div nz-row [nzGutter]="[24, 24]">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Thông tin truy cập hệ thống</nz-form-label>
            <nz-form-control>
              <div style="padding: 20px; border: 1px solid #f9f9; border-radius: 5px">
                <nz-form-item>
                  <nz-form-label nzRequired>Tên đăng nhập</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập tên đăng nhập'">
                    <input nz-input placeholder="---Tên đăng nhập---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Mật khẩu</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập mật khẩu'">
                    <input nz-input placeholder="--- Mật khẩu ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Nhập lại mật khẩu</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhâp lại mật khẩu'">
                    <input nz-input placeholder="--- Nhập lại mật khẩu ---" name="mix" required />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Thông tin đăng ký dịch vụ</nz-form-label>
            <nz-form-control>
              <div style="padding: 20px; border: 1px solid #f9f9; border-radius: 5px">
                <nz-checkbox-group class="d-flex flex-column" [(ngModel)]="checkOptionsOne" name="first"></nz-checkbox-group>
              </div>
              <label nz-checkbox [(ngModel)]="checked" name="name" class="d-flex mt-sm"
                ><i>Tôi xin cam đoan những thông tin trên là đúng sự thật. </i></label
              >
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div> -->
    <!-- <div nz-col *ngIf="index == 2">
      <div nz-row [nzGutter]="[24, 24]">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Thông tin truy cập hệ thống</nz-form-label>
            <nz-form-control>
              <div style="padding: 20px; border: 1px solid #f9f9; border-radius: 5px">
                <nz-form-item>
                  <nz-form-label nzRequired>Tên đăng nhập</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập tên đăng nhập'">
                    <input nz-input formControlName="username" placeholder="---Tên đăng nhập---" name="username" required />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Mật khẩu</nz-form-label>
                  <nz-form-control [nzErrorTip]="'Vui lòng nhập mật khẩu'">
                    <input
                      nz-input
                      type="password"
                      formControlName="password"
                      (ngModelChange)="updateConfirmValidator()"
                      placeholder="--- Mật khẩu ---"
                      name="password"
                      required
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>Nhập lại mật khẩu</nz-form-label>
                  <nz-form-control [nzErrorTip]="errorTpl">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input
                        nz-input
                        [type]="passwordVisible ? 'text' : 'password'"
                        formControlName="confimPassword"
                        placeholder="--- Nhập lại mật khẩu ---"
                        name="confimPassword"
                        required
                    /></nz-input-group>

                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">Vui lòng xác nhận mật khẩu của bạn!</ng-container>
                      <ng-container *ngIf="control.hasError('confirm')"> Mật khẩu không khớp! </ng-container>
                    </ng-template>
                    <ng-template #suffixTemplate>
                      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Thông tin đăng ký dịch vụ</nz-form-label>
            <nz-form-control>
              <div style="padding: 20px; border: 1px solid #f9f9; border-radius: 5px">
                <nz-checkbox-group
                  class="d-flex flex-column"
                  [(ngModel)]="checkOptionsOne"
                  [ngModelOptions]="{ standalone: true }"
                  name="first"
                ></nz-checkbox-group>
              </div>
              <label nz-checkbox [(ngModel)]="commitment" [ngModelOptions]="{ standalone: true }" name="name" class="d-flex mt-sm"
                ><i>Tôi xin cam đoan những thông tin trên là đúng sự thật. </i></label
              >
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div> -->
    <div nz-row [nzGutter]="[24, 24]" class="mt-xl" *ngIf="index == 2">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Tên tổ chức</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập tên tổ chức!">
            <input nz-input formControlName="organizationName" placeholder="--- Tên tổ chức ---" name="organizationName" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Mã số thuế</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập mã số thuế!">
            <input nz-input formControlName="taxCode" placeholder="--- Mã số thuế ---" name="taxCode" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Địa chỉ hiện tại</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ hiện tại!">
            <input nz-input placeholder="--- Địa chỉ hiện tại ---" name="minlength" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Quốc gia</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn quốc gia!">
            <nz-select nzShowSearch nzAllowClear formControlName="organizationCountryId" nzPlaceHolder="Chọn quốc gia">
              <nz-option nzLabel="Việt Nam" nzValue="1"></nz-option>
              <nz-option nzLabel="Mỹ" nzValue="2"></nz-option>
              <nz-option nzLabel="Nhật" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Tỉnh/ Thành phố</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn tỉnh/ thành phố!">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn thành phố">
              <nz-option nzLabel="Hà Nội" nzValue="1"></nz-option>
              <nz-option nzLabel="Bắc Giang" nzValue="2"></nz-option>
              <nz-option nzLabel="TP HCM" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Số điện thoại</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập số điện thoại!'">
            <input nz-input placeholder="--- Số điện thoại ---" name="mix" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập email! '">
            <input nz-input placeholder="--- Email ---" name="mix" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Giấy phép kinh doanh/ Giấy chứng nhận ĐKKD</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng tải lên giấy phép kinh doanh!">
            <div class="upload-imgae h-20" style="background-image: url('{{ businessLicenseImage }}')">
              <nz-upload
                class="show-image-upload"
                [nzHeaders]="header"
                [nzAction]="uploadUrl"
                [(nzFileList)]="businessLicenseImage"
                (nzChange)="handleChangeFile($event, 'businessLicenseImage')"
                nzAccept="image/png, image/jpeg, image/jpg"
              >
                <button nz-button>
                  <i nz-icon nzType="upload"></i>
                  Tải ảnh
                </button>
                <button nz-button (click)="OnTakeaPhoto($event)">
                  <i nz-icon nzType="camera" nzTheme="outline"></i>
                  Chụp ảnh
                </button>
              </nz-upload>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Ngày cấp</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng Chọn ngày cấp!'">
            <nz-date-picker
              [style.width]="'100%'"
              nzPlaceHolder="Chọn ngày cấp"
              [(ngModel)]="date"
              name="date"
              (ngModelChange)="onChange($event)"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Nơi cấp</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập nơi cấp!'">
            <input nz-input placeholder="--- Nơi cấp ---" name="mix" required />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
<div class="steps-action d-flex justify-content-end m-md">
  <!-- <button nz-button nzType="default" (click)="pre()" *ngIf="index > 0">
    <span>Quay lại</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="index < 2">
    <span>Tiếp tục</span>
  </button>
  <button nz-button nzType="primary" (click)="done()" *ngIf="index === 2">
    <span>Hoàn thành</span>
  </button> -->

  <button nz-button nzType="default" [nzLoading]="loading" (click)="pre()" *ngIf="index > 0">
    <span>Quay lại</span>
  </button>
  <button nz-button nzType="default" [nzLoading]="loading" (click)="next()" *ngIf="index < 2">
    <span>Tiếp tục</span>
  </button>
  <button nz-button nzType="primary" [nzLoading]="loading" (click)="done()" *ngIf="index === 2">
    <span>Hoàn thành</span>
  </button>
</div>
<app-take-aphoto
  #itemModal
  [isVisible]="modal.isShow"
  [item]="modal.item"
  [type]="modal.type"
  [option]="modal.option"
  (eventEmmit)="onModalEventEmmit($event)"
></app-take-aphoto>
